.message{
	width:100%;
	padding:20px;
	border-radius:3px;
	background:#262626 !important;
	box-shadow:0px 0px 5px #000;
	margin-bottom:20px;	
	position: relative;
	&:last-child{
		margin-bottom:0px;	
	}
	h2{
		font-size:24px;
		color:#fff;
		margin-bottom:15px;
	}
	p{
		font-size:16px;
		letter-spacing:1.3px;
		color:#fff;
	}
	&_conteiner{
		align-items:center;
		justify-content:center;
		font-size:22px;
		color:#000;
	}
	&_button{
		position: absolute;
		padding:7px;
		border-radius:3px;
		font-size:18px;
		color:#fff;
		opacity:0;
		visibility: hidden;
		transition: .3s all;
		cursor:pointer;
	}
	&_delete{
		right:-7px;
		top:-7px;
		background:#ff4040;
	}
	&_update{
		right:-7px;
		bottom:-7px;
		background:#00EE8C;
	}
	&:hover &_button{
		opacity:1;
		visibility: visible;
	}
}